In [31]:
import pandas as pd

In [32]:
sales = pd.read_csv("C:/Users/Khanya/Downloads/archive/zara.csv", sep = ";")
sales

,Product ID,Product Position,Promotion,Product Category,Seasonal,Sales Volume,brand,url,sku,name,description,price,currency,scraped_at,terms,section
0,185102,Aisle,No,Clothing,No,2823,Zara,https://www.zara.com/us/en/basic-puffer-jacket...,272145190-250-2,BASIC PUFFER JACKET,Puffer jacket made of tear-resistant ripstop f...,19.99,USD,2024-02-19T08:50:05.654618,jackets,MAN
1,188771,Aisle,No,Clothing,No,654,Zara,https://www.zara.com/us/en/tuxedo-jacket-p0889...,324052738-800-46,TUXEDO JACKET,Straight fit blazer. Pointed lapel collar and ...,169.00,USD,2024-02-19T08:50:06.590930,jackets,MAN
2,180176,End-cap,Yes,Clothing,Yes,2220,Zara,https://www.zara.com/us/en/slim-fit-suit-jacke...,335342680-800-44,SLIM FIT SUIT JACKET,Slim fit jacket. Notched lapel collar. Long sl...,129.00,USD,2024-02-19T08:50:07.301419,jackets,MAN
3,112917,Aisle,Yes,Clothing,Yes,1568,Zara,https://www.zara.com/us/en/stretch-suit-jacket...,328303236-420-44,STRETCH SUIT JACKET,Slim fit jacket made of viscose blend fabric. ...,129.00,USD,2024-02-19T08:50:07.882922,jackets,MAN
4,192936,End-cap,No,Clothing,Yes,2942,Zara,https://www.zara.com/us/en/double-faced-jacket...,312368260-800-2,DOUBLE FACED JACKET,Jacket made of faux leather faux shearling wit...,139.00,USD,2024-02-19T08:50:08.453847,jackets,MAN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,159182,Front of Store,Yes,Clothing,No,1014,Zara,https://www.zara.com/us/en/basic-100-wool-swea...,321993245-500-2,FAUX LEATHER OVERSIZED JACKET LIMITED EDITION,Jacket made of technical fabric with padded in...,169.00,USD,2024-02-19T09:10:43.883037,jackets,MAN
248,199233,Aisle,Yes,Clothing,No,2222,Zara,https://www.zara.com/us/en/colorblock-knit-cro...,330590505-500-2,CONTRASTING PATCHES BOMBER JACKET,Oversized jacket. Notched lapel collar and lon...,159.00,USD,2024-02-19T09:10:44.463883,jackets,MAN
249,137044,Aisle,No,Clothing,Yes,2534,Zara,https://www.zara.com/us/en/hooded-technical-ja...,320680326-107-39,PATCH BOMBER JACKET,Varsity jacket with elastic collar and long sl...,12.99,USD,2024-02-19T09:10:45.009106,jackets,MAN
250,154736,Front of Store,Yes,Clothing,Yes,1466,Zara,https://www.zara.com/us/en/houndstooth-suit-ja...,311292244-800-39,CROPPED BOMBER JACKET LIMITED EDITION,Varsity jacket with padded interior. Rib elast...,19.90,USD,2024-02-19T09:10:45.631804,jackets,MAN
251,141434,Front of Store,No,Clothing,Yes,2870,Zara,https://www.zara.com/us/en/bomber-jacket-p0534...,311307610-400-39,FAUX LEATHER PUFFER JACKET,Jacket with lightly padded interior. Rib colla...,39.90,USD,2024-02-19T09:10:31.877972,jackets,MAN

In [33]:
sales. describe()

          Product ID  Sales Volume       price
count     252.000000    252.000000  252.000000
mean   153370.503968   1823.702381   86.252540
std     26160.444549    697.703748   52.083205
min    110075.000000    529.000000    7.990000
25%    131053.750000   1243.000000   49.900000
50%    151681.500000   1839.500000   79.900000
75%    175669.750000   2398.750000  109.000000
max    199631.000000   2989.000000  439.000000

In [34]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252 entries, 0 to 251
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Product ID        252 non-null    int64
 1   Product Position  252 non-null    object
 2   Promotion         252 non-null    object
 3   Product Category  252 non-null    object
 4   Seasonal          252 non-null    object
 5   Sales Volume      252 non-null    int64
 6   brand             252 non-null    object
 7   url               252 non-null    object
 8   sku               252 non-null    object
 9   name              251 non-null    object
 10  description       250 non-null    object
 11  price             252 non-null    float64
 12  currency          252 non-null    object
 13  scraped_at        252 non-null    object
 14  terms             252 non-null    object
 15  section           252 non-null    object
dtypes: float64(1), int64(2), object(13)
memory usage: 31.6+ KB

In [35]:
sales.dtypes

Product ID            int64
Product Position     object
Promotion            object
Product Category     object
Seasonal             object
Sales Volume          int64
brand                object
url                  object
sku                  object
name                 object
description          object
price               float64
currency             object
scraped_at           object
terms                object
section              object
dtype: object

In [36]:
mode_va = sales['name'].mode()[0]
mode_va

'PLAID OVERSHIRT'

In [37]:
sales.fillna({'name': mode_va}, inplace= True)

In [38]:
mode_value = sales['description'].mode()[0]
mode_value

'Varsity jacket with elastic collar and long sleeves. Welt pockets at hip and interior pocket. Embroidered appliquÃ© and contrast front and back patches. Rib trim. Front snap button closure.'

In [39]:
sales.fillna({'description': mode_value}, inplace= True)

In [40]:
sales.isnull().sum()

Product ID          0
Product Position    0
Promotion           0
Product Category    0
Seasonal            0
Sales Volume        0
brand               0
url                 0
sku                 0
name                0
description         0
price               0
currency            0
scraped_at          0
terms               0
section             0
dtype: int64

In [41]:
sales.duplicated().any()

np.False_

In [42]:
sales['Promotion'].unique()

array(['No', 'Yes'], dtype=object)

In [43]:
sales['Seasonal'].unique()

array(['No', 'Yes'], dtype=object)

In [44]:
sales['currency'].unique()

array(['USD'], dtype=object)

In [45]:
#converting boolean column 
sales['Promotion'] = sales['Promotion'].astype('category')
sales['Seasonal'] = sales['Seasonal'].astype('category')

#converting categorical column
sales['Product Category'] = sales['Product Category'].astype('category')
sales['section'] = sales['section'].astype('category')
sales['brand'] = sales['brand'].astype('category')
sales['currency'] = sales['currency'].astype('category')
# convert to proper date
sales['scraped_at'] = pd.to_datetime(sales['scraped_at'])

In [46]:
 # Strip whitespace and fix casing
sales['Product Category'] = sales['Product Category'].str.strip().str.title()
sales['section'] = sales['section'].str.strip().str.lower()
sales['brand'] = sales['brand'].str.strip().str.title()

In [47]:
# Revenue column
sales['Revenue'] = sales['price'] * sales['Sales Volume']

# Add month for time-based grouping
sales['Scraped Month'] = sales['scraped_at'].dt.to_period('M')

In [48]:
sales.drop(columns=['url', 'sku', 'terms'], inplace=True)

In [49]:
sales.dtypes

Product ID                   int64
Product Position            object
Promotion                 category
Product Category            object
Seasonal                  category
Sales Volume                 int64
brand                       object
name                        object
description                 object
price                      float64
currency                  category
scraped_at          datetime64[ns]
section                     object
Revenue                    float64
Scraped Month            period[M]
dtype: object

In [50]:
sales.isnull().sum()

Product ID          0
Product Position    0
Promotion           0
Product Category    0
Seasonal            0
Sales Volume        0
brand               0
name                0
description         0
price               0
currency            0
scraped_at          0
section             0
Revenue             0
Scraped Month       0
dtype: int64

In [51]:
sales.describe()

,Product ID,Sales Volume,price,scraped_at,Revenue
count,252.000000,252.000000,252.000000,252,252.000000
mean,153370.503968,1823.702381,86.252540,2024-02-19 08:57:11.426206464,154716.176508
min,110075.000000,529.000000,7.990000,2024-02-19 08:50:05.654618,4330.580000
25%,131053.750000,1243.000000,49.900000,2024-02-19 08:50:45.615702272,77599.350000
50%,151681.500000,1839.500000,79.900000,2024-02-19 08:51:39.882414592,129888.250000
75%,175669.750000,2398.750000,109.000000,2024-02-19 09:00:47.821253632,199768.500000
max,199631.000000,2989.000000,439.000000,2024-02-19 09:10:52.485772,651521.000000
std,26160.444549,697.703748,52.083205,NaN,107025.245299

In [52]:
sales.to_csv("zara_cleaned.csv", index=False)

In [53]:
sales

,Product ID,Product Position,Promotion,Product Category,Seasonal,Sales Volume,brand,name,description,price,currency,scraped_at,section,Revenue,Scraped Month
0,185102,Aisle,No,Clothing,No,2823,Zara,BASIC PUFFER JACKET,Puffer jacket made of tear-resistant ripstop f...,19.99,USD,2024-02-19 08:50:05.654618,man,56431.77,2024-02
1,188771,Aisle,No,Clothing,No,654,Zara,TUXEDO JACKET,Straight fit blazer. Pointed lapel collar and ...,169.00,USD,2024-02-19 08:50:06.590930,man,110526.00,2024-02
2,180176,End-cap,Yes,Clothing,Yes,2220,Zara,SLIM FIT SUIT JACKET,Slim fit jacket. Notched lapel collar. Long sl...,129.00,USD,2024-02-19 08:50:07.301419,man,286380.00,2024-02
3,112917,Aisle,Yes,Clothing,Yes,1568,Zara,STRETCH SUIT JACKET,Slim fit jacket made of viscose blend fabric. ...,129.00,USD,2024-02-19 08:50:07.882922,man,202272.00,2024-02
4,192936,End-cap,No,Clothing,Yes,2942,Zara,DOUBLE FACED JACKET,Jacket made of faux leather faux shearling wit...,139.00,USD,2024-02-19 08:50:08.453847,man,408938.00,2024-02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
247,159182,Front of Store,Yes,Clothing,No,1014,Zara,FAUX LEATHER OVERSIZED JACKET LIMITED EDITION,Jacket made of technical fabric with padded in...,169.00,USD,2024-02-19 09:10:43.883037,man,171366.00,2024-02
248,199233,Aisle,Yes,Clothing,No,2222,Zara,CONTRASTING PATCHES BOMBER JACKET,Oversized jacket. Notched lapel collar and lon...,159.00,USD,2024-02-19 09:10:44.463883,man,353298.00,2024-02
249,137044,Aisle,No,Clothing,Yes,2534,Zara,PATCH BOMBER JACKET,Varsity jacket with elastic collar and long sl...,12.99,USD,2024-02-19 09:10:45.009106,man,32916.66,2024-02
250,154736,Front of Store,Yes,Clothing,Yes,1466,Zara,CROPPED BOMBER JACKET LIMITED EDITION,Varsity jacket with padded interior. Rib elast...,19.90,USD,2024-02-19 09:10:45.631804,man,29173.40,2024-02
251,141434,Front of Store,No,Clothing,Yes,2870,Zara,FAUX LEATHER PUFFER JACKET,Jacket with lightly padded interior. Rib colla...,39.90,USD,2024-02-19 09:10:31.877972,man,114513.00,2024-02